<%-include('../partials/header')-%>
<%-include('../partials/navbar')-%>
<div class="row">
    <div class="col-lg-8 m-auto">
        <%-include('../partials/flashMessages')-%>
        <div class="card mt-5 bg-dark">
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Delete</th>

                </tr>
                </thead>
                <tbody>
                 <% users.forEach((user)=>{%>   
                <tr>
                    <th><%=user.first_name%></th>
                    <td><%=user.last_name%></td>
                    <td><%=user.email%></td>
                    <td><button class="btn btn-danger" onclick="deleteUser()" id="deleteBtn" data-id="<%=user.id%>">Delete</button></td>
                </tr>
                <%})%>
                </tbody>
            </table>
  </div>
  </div>
  </div>
<%-include('../partials/footer')-%>