<%-include('../partials/header')-%>
<%-include('../partials/navbar')-%>
<div class="row">
    <div class="col-lg-8 m-auto">
        <%-include('../partials/flashMessages')-%>
        <div class="card mt-5 bg-dark">
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Adress</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>

                </tr>
                </thead>
                <tbody>
                 <% telephones.forEach((telephone)=>{%>   
                <tr>
                    <% if ((user) && (user.id == telephone.user_id)){%>
                    <th><%=telephone.first_name%></th>
                    <td><%=telephone.last_name%></td>
                    <td><%=telephone.telephone%></td>
                    <td><%=telephone.adress%></td>
                    <td><a href="<%='/telephones/edit/'+ telephone.id %>" class="btn btn-primary">Edit</a></td>
                    <td><button class="btn btn-danger" onclick="deleteTelephone()" id="deleteBtn" data-id="<%=telephone.id%>">Delete</button></td>
                    <%}%>
                </tr>
                <%})%>
                </tbody>
            </table>
  </div>
  </div>
  </div>
<%-include('../partials/footer')-%>